<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anasayfa</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Anasayfa</a>
                    </li>
                    <li>
                        <a href="/yonetim/urun-ekle">Ürün Ekle</a>
                    </li>
                </ul>
            </nav>
        </header>

        <h1>Anasayfa</h1>


        <h4>Ürünler</h4>

        <ul>
            <li></li>
        </ul>

    </body>
</html>