<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ürün Ekle</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Anasayfa</a>
                    </li>
                    <li>
                        <a href="/yonetim/urun-ekle">Ürün Ekle</a>
                    </li>
                </ul>
            </nav>
        </header>

        <h1>Ürün Ekle</h1>

        <form action="/yonetim/urun" method="POST"> 
            <input placeholder="Ürün Gir" type="text" name="deger"/> 
            <button type="submit"> Ekle </button> 
        </form>
       
    </body>
</html>